	


<!DOCTYPE html><html lang='en' class=''>
<head><script src='//static.codepen.io/assets/editor/live/console_runner-ce3034e6bde3912cc25f83cccb7caa2b0f976196f2f2d52303a462c826d54a73.js'></script><script src='//static.codepen.io/assets/editor/live/css_live_reload_init-890dc39bb89183d4642d58b1ae5376a0193342f9aed88ea04330dc14c8d52f55.js'></script>
<meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="shortcut icon" type="image/x-icon" href="//static.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" /><link rel="mask-icon" type="" href="//static.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" /><link rel="canonical" href="https://codepen.io/rossdw/pen/XjmzAw" />

<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'><link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
<style class="cp-pen-styles">.btn.btn-primary {

}</style></head><body>
 <!-- navigation bar -->

</div>
  <nav class="navbar-default">
    <div class="container-fluid">
<div class="outer">
 <div class="inner">
    <label><a href="/">Back </a></label>
  </div>
</div> 
      <a class="navbar-brand ml-auto"><i class="glyphicon glyphicon-bullhorn"></i> 생일을 부탁해 </a>

    </div>
  </nav>
  <br>
  <br>
  <br>
  <!-- main body of our application -->
  <div class="container" id="events">

    <!-- add an event form -->
    <div class="col-sm-6">
      <div class="panel panel-default">
          <div class="panel-heading">
  			<h3>생일 추가하기</h3>
			</div>
<div class="panel-body">

  <div class="form-group">
    <input class="form-control" placeholder="이름" v-model="event.name">
  </div>

  <div class="form-group">
    <textarea class="form-control" placeholder="특이 사항" v-model="event.description"></textarea>
  </div>

  <div class="form-group">
    <input type="date" class="form-control" placeholder="Date" v-model="event.date">
  </div>

  <button class="btn btn-primary" v-on:click="addEvent">저장하기</button>

</div>
      </div>
       
    </div>
   
    <!-- show the events -->

    <div class="col-sm-6">
			<button class="btn btn-primary" @click="order = order * -1">Reverse Order</button>
      <div class="list-group">

  <a href="#" class="list-group-item" v-for="event in events | orderBy 'date' order">
    <h4 class="list-group-item-heading">
      <i class="glyphicon glyphicon-bullhorn"></i> 
      {{ event.name }}
    </h4>

    <h5>
      <i class="glyphicon glyphicon-calendar" v-if="event.date">\ 
      {{ event.date }}</i>
    </h5>

    <p class="list-group-item-text" v-if="event.description">{{ event.description }}</p>

    <button class="btn btn-xs btn-danger" v-on:click="deleteEvent($index)">Delete</button>
  </a>

</div>

    </div>
  </div>

<script src='//static.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script><script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js'></script>
<script >// app js

new Vue({
  el: '#events',
  
  data: {
		order: 1,
	  event: { name: '', description: '', date: '' },
	  events: []
	},

	ready: function() {
		this.fetchEvents();
	},

	methods: {
  	fetchEvents: function() {
    	var events = [
				{
					id: 1,
					name: '아빠 생일',
					description: '아빠가 좋아하는 에버랜드 가기',
					date: '2018-09-12'
				},
				{
					id: 2,
					name: '엄마 생일',
					description: '엄마가 좋아하는 노래방 가기',
					date: '2018-05-11'
				},
				{
					id: 3,
					name: '첫 째 생일',
					description: '첫 째가 좋아하는 닭발 먹기',
					date: '2018-09-11'
				},
				{
					id: 4,
					name: '둘 째 생일',
					description: '둘 째가 좋아하는 공포영화 보러 가기',
					date: '2018-06-19'
				},

   	 ];

    	this.$set('events', events);
  	},

		addEvent: function() {
			if(this.event.name) {
				this.events.push(this.event);
				this.event = { name: '', description: '', date: '' };
			}
		},
		
		deleteEvent: function(index) {
			if (confirm('삭제 하시겠습니까?')) {
				this.events.splice(index,1);
			}
		}
	}
})
//# sourceURL=pen.js
</script>
</body></html>