<style>.speech-bubble {font-style:italic;}</style>
<div class="container">
  <div class='speech-bubble'>살림을 부탁해<br></div>
						<div class="navi">
				<ul>
					<li>
					  
						<a class="mens active ml-auto" href="/home/refer">냉장고 관리</a>
					</li>
					<li>
						<a class="womens" href="/home/clean">당번 정하기</a>
					</li>

					<li>
						<a class="kids" href="/home/birthday">가족생일</a>
					</li>
					<li class="notifs">
						<a data-toggle="dropdown"  aria-expanded="false" class="notifications">가족공지&nbsp;</a>
							<div class="dropdown-menu" role="menu">
							    	<%=link_to '메모', posts_path %>
							    	<%=link_to '공지작성', home_gongji_path%>
							</div>
						</li>
					</ul>

</div>
<div class='road'>
</div>
<div class='wrap'>
  <div class='cube'>
    <div class='face'>
      <div class='topdoor'></div>
      <div class='bottomdoor'>
        <div class='smile'></div>
      </div>
    </div>
    <div class='face'></div>
    <div class='face'></div>
    <div class='face'></div>
    <div class='face'></div>
    <div class='face'></div>
  </div>
  <div class='plug'></div>
  <div class='legs'>
    <div class='lower'></div>
  </div>
  <div class='legs left'>
    <div class='lower'></div>
  </div>